<div class="row">
	<div class="col-md-4 shaade4 headerz headerzleft">
		<div class="boxxersleft shaade0">
			<h1>Locations </h1>
			<%= link_to "Add New", new_location_path if current_user %>
		</div>
	</div>
	
	<div class="col-md-8 shaade1 headerz headerzright">
		<div class="boxxers shaade0">
			<h1><%= @location.name %> </h1>
			<%= link_to "Add a quote", new_location_quote_path(@location.id) %>
		</div
	</div>
</div>

<div class="row">

	<div class="col-md-4 shaade4 howtall">


	
		<% @locations.each do |c| %>

			<div class="boxxersleft shaade1">
				<h1><%= link_to c.name.capitalize, location_quotes_path(c.id) %></h1>

			</div>	
		<% end %>
	


	</div>

	<div class="col-md-8 shaade1 howtall">
	
		<% @quotes.sort_by{|quotes| quotes.votes.count}.reverse.each do | c | %>

			<div class="boxxers shaade3" >
				<h3>"<%= c.quote %>"</h3><h3>  - <%=  c.user.username.capitalize %></h3>
				<br> <%= c.votes.count %>
				<%= link_to "Vote", location_quote_votes_path(c.location.id, c.id), :method => :post %>
			</div>
		<% end %>	
	</div>

</div>