<% catch(:done) do %>
	<% @location.quotes.each do |l| %>
		<% if l.user_id.to_s == current_user.id.to_s %>
			<% @already_quoted = true %>
			<% throw :done %>
		<% else %>
		<% end %>
	<% end %>
<% end %>


<% if @already_quoted == true %>
	<%= render 'noquote' %>
<% else %>
	<%= render 'quoteform' %>
<% end %>

<%= form_for [ @location, @quote] do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation" >
      <h4><br><%= pluralize(@quote.errors.count, "error") %> prohibited this feature from being saved:</h4>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li class="alert alert-info"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


