<h1>Log in</h1>
<%= form_for @user, {url: session_path, class: "form-group"} do |f| %>
	<%= f.text_field :email, class: "form-control", placeholder: "Your Email Address" %><br />
	<%= f.password_field :password, class: "form-control", placeholder: "Your Password" %><br />
	<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
	<%= f.submit "Log In", class:"btn btn-default" %>
<% end %>