<h1>Sign up for our site!</h1>

<%= form_for @user do |f| %>
	<%= f.text_field :username, placeholder: "WHO ARE YOU????" %><br />
	<%= f.text_field :email, placeholder: "your super secret email address..  we will be spamming.." %><br />
	<%= f.password_field :password, placeholder: "password ..." %><br />
	<%= f.password_field :password_confirmation, placeholder: "... and again" %>
	<%= f.file_field :image %>
	<%= f.submit %>
<% end %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

