<div class="row howtall shaade6">

  <div class="hidden-xs col-sm-4 col-lg-4 col-md-4 scroll shaade4">
 
      <div class="hidden-xs leftylocs">
      	<h1>Let's add a new place</h1>
      </div>  
  </div>

  <div class="col-sm-8 col-lg-8 col-md-8 scroll shaade6">

      <div class="rightylocs">
      	<p> Add the name and zipcode of the place you want to add below </p>

<%= form_for @location, :html => {class: "form-group"} do |f| %>
	<%= f.text_field :name, class: "form-control", placeholder: "Location Name?" %>
	<%= f.text_field :streetadd, class: "form-control", placeholder: "Street Address?" %>
	<%= f.text_field :city, class: "form-control", placeholder: "City?" %>
	<%= f.text_field :state, class: "form-control", placeholder: "State?" %>
	<%= f.text_field :zipcode, class: "form-control", placeholder: "Zipcode?" %>
	<%= f.submit class: "btn btn-default" %>
<% end %>
      </div>
  </div>

</div>



